<%= link_to 'New Article', new_article_path %>
<div class="container">
  <div class="row">
  <% @articles.each do |article| %>
      <div class="col-md-4 top-space">
        <div class="box relative article-heigth">
          <div class="absolute article-heigth background-cover text-center" style="background:url(<%= article.cover.url(:medium)%>);top:0px;left:0px;width:100%;">
              
          </div>
          <div class="absolute article-40 background-cover text-center" style="background:rgba(0,0,0,0.5);top:60%;left:0px;width:100%;">
            <%=link_to article.title, article, class:"white",style:"font-size:18px" %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
  <div class="text-center top-space"><%= will_paginate @articles %></div>
</div>



