<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo slogan"><i class="icon-logo"></i> SIMPLIFICA TU NEGOCIO</p> 
      <p class="footer-links">
        <a href="<%= root_path%>">Inicio</a>
        <a href="/articles">Blog</a>
        <a href="#">Nosotros</a>
        <a href="#">Preguntas Frecuentes</a>
        <a href="#">Contactenos</a>
      </p>
      <p class="copywrite">© Simplifica Tu Negocio 2015. Todos los derechos reservado</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>Santiago de Cali, Valle del Cauca - Colombia</p></li>
        <li><p><i class="fi-telephone"></i>+57 310-592-2058</p></li>
        <li><p><i class="fi-mail"></i>simplificatunegocio@gmail.com</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">Acerca de  Simplifica tu negocio</p>
      <p class="about subheader">Strike me down, and I will become more powerful than you could possibly imagine.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>