<div class="social">
    <a href="#" class="icon-button twitter">
      <i class="fi-social-twitter"></i><span></span>
    </a>
    <a href="https://www.facebook.com/pages/Simplifica-tu-Negocio/547433858738145" class="icon-button facebook">
      <i class="fi-social-facebook"></i><span></span>
    </a>
    <a href="#" class="icon-button gplus">
      <i class="fi-social-google-plus"></i><span></span>
    </a>
    <a href="#" class="icon-button instagram">
      <i class="fi-social-instagram"></i><span></span>
    </a>
</div>
