<style>

.img-head {
  background: url("assets/wallpapers/circuit.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") no-repeat center center; }
.img-city {
  background: url("assets/wallpapers/city.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") no-repeat center center; }
  
</style>


<header>
  <section class="hero img-head">
    <div class="row intro">
      <div class="small-centered medium-uncentered medium-6 large-7 columns">
        <h1>Verdad? Que verdad?</h1>
        <p>Quieres dar un salto tecnologico? O dejar que tu negocio acabe, <label class="slogan">Simplifica tu negocio</label> te ayuda, esperamos por ti!</p>
      </div>
      <div class="small-centered medium-uncentered medium-6 large-5 columns">
        <div class="tech-img" style="background: url('http://static.pexels.com/wp-content/uploads/2015/02/apple-hand-iphone-6-4322-525x350.jpg') no-repeat center center;"></div>
      </div>
    </div>
  </section>
</header>



<section>
  <div class="row intro">
    <div class="small-centered medium-centered medium-12 large-12 columns">
      <h1 class="black center">Ayudando a todas las empresas!</h1>
    </div>
    <div class="small-centered medium-centered small-12 medium-12 large-12 columns">
      <div class="tech-img" style="background: url('/assets/wallpapers/mobile-apps.jpg') no-repeat center center;"></div>
      <p class="silver center">Con nuestro desarrollos a medida, encontramos la solucion a problemas que actualmente pueden tener los procesos de tu negocio.</p>
      <h4 class="center green">Menos papel y mas APLICACIONES...</h4>
      <p></p>
    </div>
  </div>
</section>





