<div class="row">
    <div class="columns small-12 large-6 top-space">
        <%= render 'form' %>
    </div>
    <div class="columns small-12 large-6 top-space">
        <h4><i class="fi-map green"></i> Santiago de Cali, Colombia</h4>
        <hr>
        <h4><i class="fi-torso-business green"></i> Jonathan Cardenas Murillo</h4>
        <h4><i class="fi-mail green"></i> simplificatunegocio@gmail.com</h4>
        <h4><i class="fi-telephone green"></i> +57 310 640 2911</h4>
        
        <%= render 'partials/social'%>
    </div>
    
</div>



