<div class="row">
    <div class="large-centered small-12 large-12 colunms panel">
        <section class="">
            <h1 class="name-category" style="color:<%= @category.color %>;">
              <%= @category.name %>
              <%if user_signed_in?%>
              <%= link_to '| Edit', edit_category_path(@category) %>
              <%end%>
            </h1>
        </section>
        <%= render '/articles/articles' %>
    </div>
</div>





